version: "3.9"
services:
  charlies:
    build:
      context: .
      args:
        NODE_VERSION: 24
    env_file: .env
    container_name: charlies
    restart: 'on-failure:3'
    image: charlies
    command: sh -c "node ./dist/index.js"
    working_dir: /opt/charlies    
    volumes: 
      - type: volume
        source: db_data
        target: /opt/charlies/data
volumes:
  db_data: {}    
